BASE_DOMAIN=https://open.feishu.cn
APP_ID=your_app_id
APP_SECRET=your_app_secret

DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_API_HOST=your_dashscope_api_host

# claude code agent config
ANTHROPIC_BASE_URL=your_anthropic_base_url      
ANTHROPIC_AUTH_TOKEN=your_anthropic_auth_token
ANTHROPIC_MODEL=your_anthropic_model

# cursor agent config
CURSOR_API_KEY=your_cursor_api_key

ALERT_CARD_ID=your_alert_card_id
WELCOME_CARD_ID=your_welcome_card_id
NOTIFY_CHAT_ID=your_notify_chat_id

WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8000
FEISHU_MAPPING_PATH=feishu_mapping.json
LOG_DIR=logs
LOG_FILE=app.log
LOG_LEVEL=INFO

LOCAL_JAVA_LOG_FILE_PATH=your_local_java_log_file_path