BASE_DOMAIN=https://open.feishu.cn
APP_ID=your_app_id
APP_SECRET=your_app_secret
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_API_HOST=your_dashscope_api_host
ALERT_CARD_ID=your_alert_card_id
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8000
NOTIFY_CHAT_ID=your_notify_chat_id
FEISHU_MAPPING_PATH=feishu_mapping.json
LOG_DIR=logs
LOG_FILE=app.log
LOG_LEVEL=INFO

TEST_JENKINS_URL=your_test_jenkins_url
TEST_JENKINS_USER=your_test_jenkins_user
TEST_JENKINS_TOKEN=your_test_jenkins_token
TEST_JAVA_PROJECT_PATH=your_test_java_project_path

STAGING_JENKINS_URL=your_staging_jenkins_url
STAGING_JENKINS_USER=your_staging_jenkins_user
STAGING_JENKINS_TOKEN=your_staging_jenkins_token
STAGING_JAVA_PROJECT_PATH=your_staging_java_project_path

LOCAL_JAVA_LOG_FILE_PATH=your_local_java_log_file_path