BASE_DOMAIN=https://open.feishu.cn
APP_ID=your_app_id
APP_SECRET=your_app_secret
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_API_HOST=your_dashscope_api_host
ALERT_CARD_ID=your_alert_card_id

JENKINS_URL=your_jenkins_url
JENKINS_USER=your_jenkins_user
JENKINS_TOKEN=your_jenkins_token
LOCAL_JAVA_LOG_FILE_PATH=your_local_java_log_file_path